* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #8d8d8d;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7; }

a {
  color: #505050;
  font-style: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.list-reset {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.main-header {
  background-color: rgba(10, 10, 10, 0.8);
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 75px;
  padding-right: 60px; }
  .main-header__info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px; }
  .main-header__contact {
    display: flex;
    margin-top: 5px; }
    .main-header__contact .fa-phone-alt {
      color: #dfff00;
      font-size: 36px;
      margin-right: 20px; }
    .main-header__contact .fa-envelope {
      color: #dfff00;
      font-size: 36px;
      margin-right: 20px; }
    .main-header__contact .fa-clock {
      color: #dfff00;
      font-size: 36px;
      margin-right: 20px; }
  .main-header__phone {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    display: flex;
    font-size: 13px;
    height: 45px;
    margin-right: 20px;
    padding-right: 20px; }
    .main-header__phone:hover {
      opacity: 0.8; }
    .main-header__phone strong {
      text-transform: uppercase; }
  .main-header__email {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    display: flex;
    font-size: 13px;
    height: 45px;
    margin-right: 20px;
    padding-right: 20px; }
    .main-header__email:hover {
      opacity: 0.8; }
  .main-header__working-hours {
    color: #fff;
    display: flex;
    font-size: 13px;
    height: 45px;
    margin-right: 20px; }
    .main-header__working-hours:hover {
      opacity: 0.8; }

@media (max-width: 1025px) {
  .main-header__contact {
    display: none; } }

.navigation {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 45px -9px #888;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0; }
  .navigation__left {
    color: #fff;
    padding: 24px 17px; }
    .navigation__left li {
      padding: 0 17px; }
  .navigation__right {
    color: #fff;
    height: 100%; }
    .navigation__right li {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
      margin-right: 25px;
      padding-left: 25px;
      padding-top: 25px; }
    .navigation__right i {
      font-size: 18px; }

.navigation-mobile {
  display: none; }

@media (max-width: 1025px) {
  .navigation {
    display: none; }
  .navigation-mobile {
    color: #fff;
    display: block; } }

.main-header__par {
  font-size: 17px;
  letter-spacing: 2.7;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase; }

.main-header__title {
  color: #fff;
  font-size: 51px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 60%; }

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 50px;
  color: #535353;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 60px;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 19px;
  padding-right: 19px;
  text-transform: uppercase;
  transition: width 1s;
  width: 222px; }
  .btn:hover {
    width: 300px; }

.circle {
  margin-top: 95px;
  padding-bottom: 35px;
  text-align: center; }
  .circle .circle-1 {
    color: #fff; }
  .circle .circle-2 {
    margin-left: 10px; }

.introduction {
  display: flex;
  padding: 100px 35px; }
  .introduction article {
    padding-left: 3%;
    padding-right: 3%;
    width: 25%; }
    .introduction article .introduction__paragraph {
      font-size: 14px;
      letter-spacing: 4px;
      text-transform: uppercase; }
    .introduction article .introduction__heading {
      color: #303030;
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .introduction article .introduction__btn {
      color: #ecad17;
      cursor: pointer;
      margin-top: 15px;
      text-transform: uppercase; }
    .introduction article .introduction__desc {
      margin-bottom: 15px; }
    .introduction article .introduction__title {
      color: #303030;
      font-size: 16px;
      font-weight: 900;
      margin-bottom: 15px;
      margin-top: 32px;
      text-transform: uppercase; }
  .introduction .introduction__articles {
    border-right: 1px solid #f1f1f1;
    margin-top: 0; }

@media (max-width: 800px) {
  .introduction {
    flex-wrap: wrap;
    padding-left: 10px; }
    .introduction article {
      margin-top: 40px;
      width: 100%; }
    .introduction .introduction__articles {
      border-right: 0; } }

.about {
  background-color: #f8f8f8;
  background-image: url("../images/background.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
