* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff;
  color: #8d8d8d;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7; }

a {
  color: #505050;
  font-style: 13px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.list-reset {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.main-header {
  background-color: rgba(10, 10, 10, 0.8);
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 75px;
  padding-right: 60px; }
  .main-header__info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px; }
  .main-header__contact {
    display: flex;
    margin-top: 5px; }
    .main-header__contact .fa-phone-alt {
      color: #dfff00;
      font-size: 36px;
      margin-right: 20px; }
    .main-header__contact .fa-envelope {
      color: #dfff00;
      font-size: 36px;
      margin-right: 20px; }
    .main-header__contact .fa-clock {
      color: #dfff00;
      font-size: 36px;
      margin-right: 20px; }
  .main-header__phone {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: 45px;
    margin-right: 20px;
    padding-right: 20px; }
    .main-header__phone:hover {
      opacity: 0.8; }
    .main-header__phone strong {
      text-transform: uppercase; }
  .main-header__email {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: 45px;
    margin-right: 20px;
    padding-right: 20px; }
    .main-header__email:hover {
      opacity: 0.8; }
  .main-header__working-hours {
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: 45px;
    margin-right: 20px; }
    .main-header__working-hours:hover {
      opacity: 0.8; }

@media (max-width: 1025px) {
  .main-header__contact {
    display: none; } }

.navigation {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 15px 45px -9px #888;
  display: flex;
  justify-content: space-between;
  left: 5.45%;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  width: 89%;
  z-index: 1; }
  .navigation.sticky {
    position: fixed;
    top: 0; }
  .navigation__left {
    color: #fff;
    padding: 24px 17px; }
    .navigation__left li {
      padding: 0 17px; }
  .navigation__right {
    color: #fff;
    height: 100%; }
    .navigation__right li {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
      cursor: pointer;
      margin-right: 25px;
      padding-left: 25px;
      padding-top: 25px; }
    .navigation__right i {
      font-size: 18px; }

.navigation-mobile {
  display: none; }

@media (max-width: 1025px) {
  .navigation {
    display: none; }
  .navigation-mobile {
    color: #fff;
    display: block; } }

.main-header__par {
  font-size: 17px;
  letter-spacing: 2.7;
  line-height: 13px;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase; }

.main-header__title {
  color: #fff;
  font-size: 51px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 60%; }

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 50px;
  color: #535353;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 60px;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 19px;
  padding-right: 19px;
  text-transform: uppercase;
  transition: width 1s;
  width: 222px; }
  .btn:hover {
    width: 300px; }

.circle {
  margin-top: 95px;
  padding-bottom: 35px;
  text-align: center; }
  .circle .circle-1 {
    color: #fff; }
  .circle .circle-2 {
    margin-left: 10px; }

.introduction {
  display: flex;
  padding: 100px 35px; }
  .introduction article {
    padding-left: 3%;
    padding-right: 3%;
    width: 25%; }
    .introduction article .introduction__paragraph {
      font-size: 14px;
      letter-spacing: 4px;
      text-transform: uppercase; }
    .introduction article .introduction__heading {
      color: #303030;
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 15px;
      text-transform: uppercase; }
    .introduction article .introduction__btn {
      color: #ecad17;
      cursor: pointer;
      margin-top: 15px;
      text-transform: uppercase; }
    .introduction article .introduction__desc {
      margin-bottom: 15px; }
    .introduction article .introduction__title {
      color: #303030;
      font-size: 16px;
      font-weight: 900;
      margin-bottom: 15px;
      margin-top: 32px;
      text-transform: uppercase; }
  .introduction .introduction__articles {
    border-right: 1px solid #f1f1f1;
    margin-top: 0; }

@media (max-width: 800px) {
  .introduction {
    flex-wrap: wrap;
    padding-left: 10px; }
    .introduction article {
      margin-top: 40px;
      width: 100%; }
    .introduction .introduction__articles {
      border-right: 0; } }

.about {
  background-color: #f8f8f8;
  display: flex; }
  .about__image {
    padding-right: 15px;
    position: relative;
    top: -100px;
    transition: 2s;
    width: 50%; }
  .about__info {
    padding-left: 15px;
    padding-right: 40px;
    width: 50%; }
    .about__info article {
      border-top: 1px solid #e8e8e8;
      margin-right: 28px;
      margin-top: 20px;
      padding-top: 20px; }
    .about__info-icon {
      margin-bottom: 40px;
      padding-top: 40px; }
    .about__info-paragraph {
      color: #919191;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .about__info-title {
      color: #4c4c4c;
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase; }
    .about__info-desc {
      font-size: 16px;
      line-height: 1.8; }

@media (max-width: 800px) {
  .about {
    flex-wrap: wrap;
    padding: 0 90px; }
    .about__image {
      width: 100%; }
    .about__info {
      width: 100%; }
      .about__info-title {
        font-size: 26px; }
      .about__info-description {
        background-color: #fff;
        margin-top: 10px;
        padding: 20px 40px; } }

.gallery {
  padding: 0 75px;
  position: relative; }
  .gallery__par {
    color: #919191;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 100px;
    text-transform: uppercase; }
  .gallery__heading {
    color: #4c4c4c;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase; }
  .gallery-btn {
    background-color: #f0cc21;
    border: 0;
    border-radius: 35px;
    box-shadow: 0 15px 45px -9px #888;
    color: #4c4c4c;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    padding: 19px 41px;
    position: absolute;
    right: 75px;
    text-transform: uppercase;
    top: 35px;
    transition: .3s letter-spacing; }
    .gallery-btn:hover {
      letter-spacing: 3px; }
  .gallery__articles {
    display: flex;
    flex-wrap: wrap; }

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 75px 0; }
  .works__gallery {
    display: inline-block;
    height: 18rem;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    width: 31.5%; }
    .works__gallery:hover {
      background-color: #ecad17;
      opacity: .7; }
    .works__gallery-img {
      display: block;
      height: 100%;
      transition: transform .4s;
      width: 100%; }
    .works__gallery:hover .works__gallery-img {
      transform: scale(1.3); }
    .works__gallery:hover .works__gallery__info {
      opacity: 1; }
    .works__gallery__info {
      color: #fff;
      left: 50%;
      opacity: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .2s ease-in;
      width: 65%; }
      .works__gallery__info-heading {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 5px; }
      .works__gallery__info-desc {
        font-size: 13px;
        text-transform: uppercase; }
      .works__gallery__info-icons {
        border-radius: 50%;
        color: #fff;
        font-size: 24px;
        height: 60px;
        margin-top: 15px;
        padding: 16px 0;
        transition: .3s;
        width: 60px; }
        .works__gallery__info-icons:hover {
          background-color: #fff;
          color: rgba(10, 10, 10, 0.8); }
      .works__gallery__info .fa-link {
        margin-right: 15px; }
      .works__gallery__info:hover {
        display: block; }

@media (max-width: 1025px) {
  .works__gallery {
    flex-wrap: wrap;
    margin-right: 20px;
    width: 45%; } }

@media (max-width: 800px) {
  .works__gallery {
    flex-wrap: wrap;
    width: 100%; } }

.testimonials {
  box-shadow: 0 15px 45px -9px #888;
  margin: 0 75px;
  padding: 0 55px;
  position: relative;
  text-align: center; }
  .testimonials__par {
    letter-spacing: 3px;
    padding-top: 100px;
    text-transform: uppercase; }
  .testimonials__heading {
    color: rgba(10, 10, 10, 0.8);
    font-size: 30px;
    margin-bottom: 40px;
    text-transform: uppercase; }
  .testimonials .fa-chevron-left {
    color: #cacaca;
    font-size: 28px;
    position: absolute;
    top: 250px; }
  .testimonials__user {
    display: inline-block;
    margin: 0 200px;
    width: 100px; }
  .testimonials .fa-chevron-right {
    color: #cacaca;
    font-size: 28px;
    position: absolute;
    top: 250px; }
  .testimonials__desc {
    margin: 20px 0; }
  .testimonials__strong {
    color: rgba(10, 10, 10, 0.8);
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px; }
  .testimonials__number {
    font-size: 26px; }

.epp {
  display: flex;
  margin: 0 75px;
  margin-top: 100px; }
  .epp__left {
    display: flex;
    width: 70%; }
    .epp__left__active {
      color: rgba(10, 10, 10, 0.8); }
    .epp__left__list {
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      display: block;
      padding-right: 40px;
      text-align: right;
      width: 90%; }
      .epp__left__list .active {
        color: rgba(10, 10, 10, 0.8); }
    .epp__left__title {
      color: #8d8d8d; }
    .epp__left__icons {
      color: #8d8d8d;
      line-height: 3.7;
      margin-left: 15px; }
    .epp__left__desc {
      margin-top: 35px;
      padding-left: 45px;
      padding-right: 60px; }
  .epp__right {
    display: flex;
    justify-content: space-between; }
    .epp__right__left {
      margin-top: 35px;
      padding-left: 40px;
      padding-right: 80px; }
      .epp__right__left-heading {
        color: #4c4c4c;
        font-size: 24px;
        margin-bottom: 30px;
        text-transform: uppercase; }

@media (max-width: 1025px) {
  .epp__left {
    display: block; }
    .epp__left__list {
      border-left: 1px solid rgba(0, 0, 0, 0.08);
      border-right: 0;
      padding-left: 45px;
      text-align-last: left; } }

@media (max-width: 800px) {
  .epp {
    display: block; }
    .epp__right__image {
      margin-left: auto;
      margin-top: 30px; } }

.footer {
  background-color: rgba(10, 10, 10, 0.8);
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #e3e3e3;
  display: flex;
  justify-content: space-between;
  padding: 100px 75px 50px; }
  .footer__part {
    margin-bottom: 25px;
    padding: 0 15px;
    width: 33.3%; }
    .footer__part__par {
      line-height: 1.8;
      margin-bottom: 20px;
      margin-top: 10px; }
    .footer__part__soc {
      margin-right: 25px; }
  .footer__address {
    line-height: 3.7;
    width: 33.3%; }
    .footer__address__heading {
      text-transform: uppercase; }
    .footer__address__city {
      align-items: baseline;
      display: flex; }
    .footer__address__phone {
      align-items: baseline;
      display: flex; }
    .footer__address__mail {
      align-items: baseline;
      display: flex; }
    .footer__address__hours {
      align-items: baseline;
      display: flex; }
    .footer__address__icons {
      margin-right: 15px; }
  .footer__projects {
    padding-right: 25px;
    width: 33.3%; }
    .footer__projects__images {
      display: flex;
      flex-wrap: wrap; }
    .footer__projects__image {
      height: 85px;
      width: 85px; }
    .footer__projects__icons {
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
    .footer__projects__articles {
      cursor: pointer;
      margin-right: 10px;
      position: relative; }

@media (max-width: 800px) {
  .footer {
    display: block; }
    .footer__projects {
      width: 100%; }
      .footer__projects__images {
        justify-content: space-between; } }
