.appointment {
    background-color: $carousel-color;
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
  
    &__img {
      display: none;
    }
  
    &__appointment-form {

      &--input-field {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid $border-bottom-color;
        color: $input-field-color;
        display: block;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 30px;
        padding: 10px 0;
        // text-transform: uppercase;
        width: 100%;
      }
  
      &__btn {
        @include button($info-text-color, 0, 50px, $box-shadow-color, $btn-color, pointer, 700, 0 19px, uppercase, width 1s);
        display: flex;
        font-weight: 600;
        margin: 0 auto;
        // width: 175px;
  
        &:hover {
          background-color: $bg-color;
          border-color: $btn-color;
          color: $btn-color;
          text-decoration: none;
          padding: 18px 31px;
          width: 250px;
          text-align: center;
        }
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .appointment {
      &__img {
        display: block;
      }
  
      .col-md-6 {
        padding-left: 0;
      }
    }
  }
  