.about {
  background-color: $about-color;
  background-image: url('../images/background.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
