.about {
  background-color: $about-color;
  // background-position: 50% 0;
  // background-repeat: no-repeat;
  // background-size: cover;
  display: flex;
  position: relative;

  &__image {
    overflow: hidden;
    width: 50%;
  }

  &__info {
    width: 50%;
  }
}
