.btn {
  background-color: $info-text-color;
  border: 0;
  border-radius: 50px;
  color: $btn-color;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 60px;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 19px;
  padding-right: 19px;
  text-transform: uppercase;
  transition: width 1s;
  // width: 222px;
  width: 175px;

  &:hover {
    width: 300px;
  }
}

@media (min-width: 568px) {
  .btn {
    width: 250px;
  }
}
