.footer {
  background-color: $footer-bkg-color;
  // background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: $footer-color;
  // display: flex;
  // justify-content: space-between;
  // padding: 100px 75px 50px;
  padding: 50px 0;


  &__part {
    margin-bottom: 25px;
    padding: 0 15px;
    // width: 33.3%;
    text-align: center;
    width: 100%;

    &__par {
      line-height: 1.8;
      margin-bottom: 20px;
      margin-top: 10px;
      text-align: justify;
    }

    &__soc {
      color: $info-text-color;
      margin-right: 25px;
    }
  }

  &__address {
    line-height: 3.7;
    // width: 33.3%;
    text-align: center;
    width: 100%;

    &__heading {
      text-transform: uppercase;
    }

    &__city {
      align-items: baseline;
      display: flex;
      margin-left: 15px;
    }

    &__phone {
      align-items: baseline;
      display: flex;
      margin-left: 15px;
    }

    &__mail {
      align-items: baseline;
      display: flex;
      margin-left: 15px;
    }

    &__hours {
      align-items: baseline;
      display: flex;
      margin-left: 15px;
    }

    &__icons {
      margin-right: 15px;
    }
  }

  &__projects {
    // margin: 0 15px;
    // max-width: 400px;
    // padding-right: 25px;
    // width: 33.3%;
    text-align: center;
    width: 100%;

    &__heading {
      margin-bottom: 20px;
    }

    &__images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__image {
      height: 85px;
      width: 85px;
    }

    &__icons {
      // background-color: $info-text-color;
      color: $info-text-color;
      left: 50%;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .2s ease-in;
    }

    &__articles {
      cursor: pointer;
      // margin-right: 10px;
      // margin-right: 5%;
      position: relative;
      transition: opacity .2s ease-in;

      &:hover {
        opacity: .7;

        .fa-link {
          opacity: 1;
        }
      }
    }
  }
}

// @media (max-width: 800px) {
//   .footer {
//     display: block;

//     &__projects {
//       width: 100%;

//       &__images {
//         justify-content: space-between;
//       }
//     }
//   }
// }
