.gallery {
  padding: 0 15px;
  position: relative;
  text-align: center;

  &__par {
    color: $about-info-paragraph;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 50px;
    text-transform: uppercase;
  }

  &__heading {
    color: $about-title;
    font-size: $works-info-heading;
    font-weight: 900;
    text-transform: uppercase;
  }

  &-btn {
    background-color: $gallery-btn;
    border: 0;
    border-radius: 35px;
    box-shadow: $box-shadow-color;
    color: $about-title;
    cursor: pointer;
    font-size: $info-font-sizes;
    font-weight: 700;
    padding: 19px 41px;
    text-transform: uppercase;
    transition:  .3s letter-spacing;

    &:hover {
      letter-spacing: 3px;
    }
  }

  &-btn-1 {
    display: none;
    position: absolute;
    right: 75px;
    top: 20px;
  }

  &__articles {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 568px) {
  .gallery {
    &__par {
      font-size: $introduction-title-sm;
    }

    &__heading {
      font-size: $arrow-size;
    }
  }
}

@media (min-width: 992px) {
  .gallery {
    &__par {
      font-size: $works-info-heading;
    }

    &__heading {
      font-size: $introduction-heading;
    }
  }
}
