.gallery {
  padding: 0 75px;
  position: relative;

  &__par {
    color: $about-info-paragraph;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 100px;
    text-transform: uppercase;
  }

  &__heading {
    color: $about-title;
    font-size: $introduction-heading;
    font-weight: 900;
    text-transform: uppercase;
  }

  &-btn {
    background-color: $gallery-btn;
    border: 0;
    border-radius: 35px;
    box-shadow: $box-shadow-color;
    color: $about-title;
    cursor: pointer;
    font-size: $info-font-sizes;
    font-weight: 700;
    padding: 19px 41px;
    position: absolute;
    right: 75px;
    text-transform: uppercase;
    top: 35px;
    transition:  .3s letter-spacing;

    &:hover {
      letter-spacing: 3px;
    }
  }

  &__articles {
    display: flex;
    flex-wrap: wrapp;
  }
}
