.main-header__par {
  // font-size: $header-title;
  font-size: $info-font-sizes;
  letter-spacing: 2.7;
  line-height: 13px;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
}

.main-header__title {
  color: $info-text-color;
  // font-size: $main-header-title;
  font-size: $heading-title;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

@media (min-width: 576px) {
  .main-header__par {
    font-size: $heading-title;
  }

  .main-header__title {
    font-size: $works-info-heading;
  }
}

@media (min-width: 768px) {
  .main-header__par {
    font-size: $header-title-md;
  }

  .main-header__title {
    font-size: $introduction-heading;
  }
}

// @media (max-width: 1350px) {
//   .main-header {
//     &__par {
//       margin-bottom: 10px;
//     }

//     &__title {
//       font-size: $main-header-title2;
//     }
//   }
// }

// @media (max-width: 1200px) {
//   .main-header__title {
//     font-size: $introduction-heading;
//   }
// }

// @media (max-width: 863px) {
//   .main-header__title {
//     font-size: $works-info-heading;
//   }
// }

// @media (max-width: 863px) {
//   .main-header {
//     &__par {
//       font-size: $introduction-title;
//     }

//     &__title {
//       font-size: $introduction-title;
//     }
//   }
// }
