.main-header {
  background-color: $header-bkg-color;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 75px;
  padding-right: 60px;

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__contact {
    display: flex;
    margin-top: 5px;

    .fa-phone-alt {
      color: $info-images-color;
      font-size: $info-images-size;
      margin-right: 20px;
    }

    .fa-envelope {
      color: $info-images-color;
      font-size: $info-images-size;
      margin-right: 20px;
    }

    .fa-clock {
      color: $info-images-color;
      font-size: $info-images-size;
      margin-right: 20px;
    }
  }

  &__phone {
    border-right: 1px solid $border-right-color;
    color: $info-text-color;
    cursor: pointer;
    display: flex;
    font-size: $info-font-sizes;
    height: 45px;
    margin-right: 20px;
    padding-right: 20px;

    &:hover {
      @include opacity(.8);
    }

    strong {
      text-transform: uppercase;
    }
  }

  &__email {
    border-right: 1px solid $border-right-color;
    color: $info-text-color;
    cursor: pointer;
    display: flex;
    font-size: $info-font-sizes;
    height: 45px;
    margin-right: 20px;
    padding-right: 20px;

    &:hover {
      @include opacity(.8);
    }
  }

  &__working-hours {
    color: $info-text-color;
    cursor: pointer;
    display: flex;
    font-size: $info-font-sizes;
    height: 45px;
    margin-right: 20px;

    &:hover {
      @include opacity(.8);
    }
  }
}

@media (max-width: 1025px) {
  .main-header__contact {
    display: none;
  }
}
