.testimonials {
  box-shadow: $box-shadow-color;
  // margin: 0 75px;
  margin: 70px 15px 0;
  // padding: 0 55px 30px;
  padding: 0 0 30px;
  position: relative;
  text-align: center;

  &__par {
    letter-spacing: 3px;
    // padding-top: 100px;
    padding-top: 50px;
    text-transform: uppercase;
  }

  &__heading {
    color: $header-bkg-color;
    // font-size: $introduction-heading;
    font-size: $introduction-title;

    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .fa-chevron-left {
    color: $arrow-color;
    font-size: $arrow-size;
    left: 50px;
    position: absolute;
    top: 175px;
  }

  &__user {
    display: inline-block;
    // margin: 0 200px;
    width: 100px;
  }

  .fa-chevron-right {
    color: $arrow-color;
    font-size: $arrow-size;
    position: absolute;
    right: 50px;
    top: 175px;
  }

  &__desc {
    margin: 20px 0;
    padding: 0 15px;
    text-align: justify;
  }

  &__strong {
    color: $header-bkg-color;
    font-size: $introduction-title;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  &__number {
    font-size: $info-heading;
  }
}
