// colors
$info-images-color: #dfff00;
$info-text-color: #fff;
$base-body-color: #8d8d8d;
$header-bkg-color: rgba(10, 10, 10, .8);
$border-right-color: rgba(255, 255, 255, .15);
$border-nav-color: rgba(0, 0, 0, .08);
$nav-color: rgba(80, 80, 80, 1);
$box-shadow-color: 0 15px 45px -9px #888;
$btn-color: #535353;
$black-heading: #303030;
$introduction-btn: #ecad17;
$introduction-border: rgba(241, 241, 241, 1);

// units
$font-sizes: 14px;
$info-images-size: 36px;
$info-font-sizes: 13px;
$header-title: 17px;
$main-header-title: 51px;
$introduction-heading: 30px;
$introduction-title: 16px;
