.epp {
  display: flex;
  margin: 0 75px;
  margin-top: 100px;

  &__left {
    display: flex;
    // text-align: right;
    width: 70%;

    &__active {
      color: $header-bkg-color;
    }

    &__list {
      border-right: 1px solid $border-nav-color;
      display: block;
      padding-right: 40px;
      text-align: right;
      width: 90%;

      .active {
        color: $header-bkg-color;
      }
    }

    &__title {
      color: $base-body-color;
    }

    &__icons {
      color: $base-body-color;
      line-height: 3.7;
      margin-left: 15px;
    }

    &__desc {
      margin-top: 35px;
      padding-left: 45px;
      padding-right: 60px;
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;

    &__left {
      margin-top: 35px;
      padding-left: 40px;
      padding-right: 80px;

      &-heading {
        color: $about-title;
        font-size: $works-info-heading;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 1025px) {
  .epp {
    &__left {
      display: block;

      &__list {
        border-left: 1px solid $border-nav-color;
        border-right: 0;
        padding-left: 45px;
        text-align-last: left;
      }
    }
  }
}

@media (max-width: 800px) {
  .epp {
    display: block;

    &__right {
      &__image {
        margin-left: auto;
        margin-top: 30px;
      }
    }
  }
}
